.content-card {
    background-color: lightcoral;
    z-index: 1;
    width: 100px;
    height: 30px;
    transform-style: preserve-3d;
    transform-origin: center center 0px;
    transition: all 0.5s ease-out;
    animation: animate 3s infinite;
    transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);

    &:hover {
        animation: unset;
        margin-top: 20px;
        animation: grower-not-a-shower 1s forwards;
        
        &::after {
            animation: smallify 1s forwards;
        }
    }
}

.content-card-stuff {
    display: none;
}

.content-card:hover .content-card-stuff {
    display: flex;
}

@keyframes animate {
    0% {
        margin-top: 20px;
    }

    50% {
        margin-top: 18px;
    }

    100% {
        margin-top: 20px;
    }
}

@keyframes grower-not-a-shower {
    0% {
        min-width: 100px;
        min-height: auto;
    }

    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        min-width: 300px;
        min-height: 200px;
    }
}

@keyframes smallify {
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        min-width: 300px;
        min-height: 200px;
    }

    0% {
        min-width: 100px;
        min-height: auto;
    }
}