.game-render-wrapper {
  display: relative;
  margin: 25px auto;
  width: 800px;
  height: 600px;
}

.game-render-window {
  position: absolute;
  width: 800px;
  height: 600px;
  background-color: gray;
  border-radius: 5px;
  overflow: hidden;
}

.game-player {
  background: url("./res/trashpanda.png") no-repeat;
  background-size: 20px;
  object-fit: cover;
  height: 20px;
  width: 20px;

  &.north {
    transform: rotateZ(180deg);
  }

  // &.south {
  // }

  &.east {
    transform: rotateZ(270deg);
  }

  &.west {
    transform: rotateZ(90deg);
  }
}

.gorilla{
  height: 20px;
  width: 20px;

  background: url("./res/dad.png") no-repeat;
  background-size: 20px;
  // animation: pop2 0.5s infinite;
}
.squid{
  height: 20px;
  width: 20px;

  background: url("./res/squidgames.png") no-repeat;
  background-size: 20px;
  // animation: pop3 0.9s infinite;
}
.frog{
  height: 20px;
  width: 20px;

  background: url("./res/tutle.png") no-repeat;
  background-size: 20px;
  // animation: pop 0.7s infinite;
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(-50%, -150%) scale(1, 1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
}

@keyframes pop2 {
  0% {
    transform: translate(-10%, -10%) scale(1, 1);
  }
  50% {
    transform: translate(-10%, 10%) scale(1.25, 0.75);
  }
  100% {
    transform: translate(-10%, -10%) scale(1, 1);
  }
}


@keyframes pop3 {
  0% {
    transform: translate(-75%, -125%) scale(1, 1);
  }
  50% {
    transform: translate(-75%, -75%) scale(1.5, 0.75);
  }
  100% {
    transform: translate(-75%, -125%) scale(1, 1);
  }
}