.game-render-wrapper {
    display: relative;
    margin: 25px auto;
    width: 800px;
    height: 600px;
}

.game-render-window {
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: gray;
    border-radius: 5px;
    overflow: hidden;
}

.game-player {
    background: url("./res/moon.png") no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;

    &.north {
        animation: north 2s forwards;
        // transform: rotateZ(180deg);
    }

    &.south {
        animation: south 2s forwards ;
    }

    &.east {
        animation: east 2s forwards ;
        // transform: rotateZ(270deg);
    }

    &.west {
        animation: west 2s forwards ;
        // transform: rotateZ(90deg);
    }
}