$themes: (
  dark: (
    html-background: #415057,
    body-background: #002b36,
    modal-background: gray,
    bg-transparent: transparent,
    header-border: #2aa198,
    header-border-hover: orange,

  ),
  color-theory-is-fake: (
    html-background: #212230,
    body-background: #006c67,
    modal-background: gray,
    header-border-hover: #fa8334,
    font-color: #f1f5f2,
    font-color-2: #161720,
    bg-transparent: transparent,
  ),
);

@mixin color-theme($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}
