@import '../../Colors.scss';

.homepage {
    @include color-theme('background-color', 'html-background');
    width: 100vw;
}

.content-wrapper {
    @include color-theme('background-color', 'body-background');

    height: 750px;
    width: 76vw;
    min-width: 900px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;

    align-items: center;
    position: relative;
}