@import '../../Colors.scss';

.content-head {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #0f2f36;
    width: 80%;
    height: 30px;
    align-items: center;
    text-align: center;
}