@import '../../../Colors.scss';

.header-nav {
    display: flex-end;
    height: 100%;
    width: 500px;

  .header-nav-buttons {
    display: inline-flex;
    width: 125px;
    height: 50px;
  }

    button {
        @include color-theme('color', 'font-color');
        
        background-color: inherit;
        margin: 0;
        border: none;
        font-size: 18px;
        width: 100%;

        &:hover {
            @include color-theme('border-color', 'header-border-hover');
            @include color-theme('color', 'header-border-hover');

            border-bottom: 2px solid;
        }
    }
}
